<nav class="navbar flex justify-between items-center py-8">
  <div class="navbar-logo">
    <a routerLink="/" class="nav-logo"
      ><h1 class="text-3xl font-bold text-orange-600">
        {{ title }}
      </h1></a
    >
  </div>
  <ul class="navbar-links flex space-x-4 link-hover">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/cuisines">Cuisines</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
  </ul>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
    <div class="favorites">
      <i class="fa-solid fa-heart fa-xl"></i>
    </div>
  </div>
</nav>
