<article class="recipe-search-container">
  <form (ngSubmit)="searchRecipes()" class="search-recipes">
    <input
      name="search-recipes"
      type="text"
      [(ngModel)]="query"
      placeholder="Search for recipes..."
    />
    <button type="submit">Search</button>
  </form>

  <div class="list">
    <div *ngFor="let recipe of recipesList; trackBy: trackByFn" class="item">
      <a [routerLink]="['/details', recipe.recipe?.label]">
        <img [src]="recipe.recipe?.image" />

        <div class="content">
          <h3
            *ngIf="isVeganMap[recipe.recipe?.label] !== undefined"
            class="tag"
            [ngClass]="{
              vegan: isVeganMap[recipe.recipe?.label],
              'non-vegan': !isVeganMap[recipe.recipe?.label]
            }"
          >
            {{ isVeganMap[recipe.recipe?.label] ? "Vegan" : "Non-Vegan" }}
            <!-- Tags: {{ recipe.recipe.tags }} -->
          </h3>
          <h3>{{ recipe.recipe?.label }}</h3>
          <p>Source: {{ recipe.recipe?.source }}</p>
          <p>Calories: {{ recipe.recipe?.calories }}</p>
          <p
            *ngIf="
              recipe.recipe?.dietLabels && recipe.recipe?.dietLabels.length > 0
            "
          >
            Diet: {{ recipe.recipe?.dietLabels.join(", ") }}
          </p>
        </div>
      </a>
    </div>
  </div>
</article>
