.recipe-search-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    .search-recipes {
        display: flex;
        width: fit-content;
        // gap: 1rem;
        border: solid 2px lightgrey;
        border-radius: var(--border-radius);
    
        input {
            border: 0;
            padding-left: 1rem;
        }
    
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    
    .list {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        gap: 2rem;
    
        .item {
            // background-color: rgb(228, 228, 228);
            border-radius: var(--border-radius);

            a {
                text-decoration: none;
            }
    
            .image-container {
                position: relative;

                img {
                    width: 100%;
                    border-top-left-radius: var(--border-radius);
                    border-top-right-radius: var(--border-radius);
                }     

                .tag {                
                    width: fit-content;
                    border-radius: var(--border-radius);
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    position: absolute;
                    top: .5rem;
                    left: .5rem;

                    &.vegan {
                        background-color: #90EE90;
                        padding: 0.25rem 0.5rem;
                        color: #155217;
                    }
                }
            }
                   
    
            .content {            
                padding: 1rem 0;
                word-break: break-word;
    
                h3 {
                    // margin-bottom: 1rem;
                    font-weight: 500;
                }
    
                &>* {
                    margin: 0;
                }
            }  
             
               
            
        }
    }
}

