<article class="recipe-search-container">
  <form (ngSubmit)="searchRecipes()" class="search-recipes">
    <input
      name="search-recipes"
      type="text"
      [(ngModel)]="query"
      placeholder="Search for recipes..."
    />
    <button type="submit">Search</button>
  </form>

  <div class="recipes-wrapper">
    <div class="list" *ngIf="!isLoading">
      <div *ngFor="let recipe of recipesList; trackBy: trackByFn" class="item">
        <a [routerLink]="['/details', recipe.recipe?.label]">
          <div class="image-container">
            <img [src]="recipe.recipe?.image" />
            <h3
              *ngIf="isVeganMap[recipe.recipe?.label] !== undefined"
              class="tag"
              [ngClass]="{
                vegan: isVeganMap[recipe.recipe?.label],
                'non-vegan': !isVeganMap[recipe.recipe?.label]
              }"
            >
              {{ isVeganMap[recipe.recipe?.label] ? "Vegan" : "" }}
            </h3>

            <div
              class="favorite absolute top-2 right-2 p-5 bg-white rounded-full"
              (click)="saveFavorite($event, recipe)"
            >
              <i class="favorite-icon fa-regular fa-heart fa-lg"></i>
              <i class="favorite-icon fa-solid fa-heart fa-lg"></i>
            </div>
          </div>

          <div class="content">
            <h4
              class="font-semibold uppercase text-sm tracking-wider text-slate-500 mb-2"
            >
              {{ recipe.recipe?.healthLabels[0] }}
            </h4>
            <h3 class="text-xl font-display font-semibold">
              {{ recipe.recipe?.label }}
            </h3>
          </div>
        </a>
      </div>
    </div>
    <div class="skeleton-loader list" *ngIf="isLoading">
      <div *ngFor="let item of items; let i = index">
        <ngx-skeleton-loader
          [theme]="{
            'height.px': 250
          }"
        />
        <ngx-skeleton-loader />
        <ngx-skeleton-loader />
      </div>
    </div>
  </div>
</article>
