.recipe-search-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    .search-recipes {
        display: flex;
        width: fit-content;
        // gap: 1rem;
        border: solid 2px lightgrey;
        border-radius: var(--border-radius);
    
        input {
            border: 0;
            padding-left: 1rem;
        }
    
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    
    .list {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        gap: 1rem;
    
        .item {
            background-color: rgb(228, 228, 228);
            border-radius: var(--border-radius);

            a {
                text-decoration: none;
            }
    
            img {
                width: 100%;
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }            
    
            .content {            
                padding: 1rem;
                word-break: break-word;

                .tag {
                    background-color: #fff;
                    padding: 0.25rem 0.5rem;
                    width: fit-content;
                    border-radius: var(--border-radius);
                    font-size: 0.9rem;
                    font-weight: 600;

                    &.vegan {
                        background-color: greenyellow;
                    }
                }
    
                h3 {
                    margin-bottom: 1rem;
                    font-weight: 500;
                }
    
                &>* {
                    margin: 0;
                }
            }
    
             
               
            
        }
    }
}

