<footer id="footer" class="footer">
    <!-- <hr class="divider-line"> -->
    <div class="footer-wrap">
      <h3>2024 | Designed and Developed by Zena Awada</h3>
      <ul class="footer-wrap__list">
        <li class="footer-wrap__item">
          <a
            class="social"
            href="https://www.linkedin.com/in/zenaawada/"
            target="_blank"
            ><i class="fa-brands fa-linkedin fa-xl link-hover"></i
          ></a>
        </li>
        <li class="footer-wrap__item">
          <a
            class="social"
            href="https://github.com/zenabawada"
            target="_blank"
            ><i class="fa-brands fa-github fa-xl link-hover"></i
          ></a>
        </li>
        <li class="footer-wrap__item">
          <a
            class="social"
            href="https://medium.com/@zenab.awada"
            target="_blank"
            ><i class="fa-brands fa-medium link-hover"></i></a>
        </li>
        <li class="footer-wrap__item">
          <a class="footer-link link-hover" href="/#content">About</a>
        </li>
      </ul>
    </div>
  </footer>