<header id="siteNavContainer" class="site-nav-container">
  <!-- site title -->
  <div id="site-logo" class="site-logo">
    <a href="/" class="logo-container">
      <div
        data-aos="zoom-in"
        data-aos-duration="400"
        data-aos-delay="300"
        class="logo-img"
      >
        <title>Logo</title>
      </div>
    </a>
    <!-- <h1 class="logo">Zena</h1><h1 class="logo">Awada</h1> -->
  </div>
  <!-- site nav -->
  <nav class="nav">
    <div id="mobileNavIcon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- <a
      class="mobile-nav-icon link-hover mobile"
      href="javascript:void(0)"
      id="mobileNavIcon"
      ><i class="fa-solid fa-bars"></i
    ></a> -->
    <div id="navContainer" class="nav-container">
      <ul id="siteNav" class="nav-list">
        <!-- <li class="nav-item">
          <a
            id="closeBtn"
            class="close-button"
            href="javascript:void(0)"
            >&times;</a
          >
        </li> -->
        <li
          data-aos="fade-down"
          data-aos-duration="800"
          data-aos-delay="0"
          id="aboutLink"
          class="nav-item"
        >
          <a class="text-link__style nav-text mobile" href="/#about">About</a>
        </li>
        <li
          data-aos="fade-down"
          data-aos-duration="800"
          data-aos-delay="100"
          id="webLink"
          class="nav-item"
        >
          <a class="text-link__style nav-text mobile" href="/#webprojects">Web Projects</a>
        </li>
        <li
          data-aos="fade-down"
          data-aos-duration="800"
          data-aos-delay="100"
          id="webLink"
          class="nav-item"
        >
          <a class="text-link__style nav-text mobile" href="/design">Design</a>
        </li>
        <li
          data-aos="fade-down"
          data-aos-duration="800"
          data-aos-delay="200"
          id="designLink"
          class="nav-item"
        >
          <a class="text-link__style nav-text mobile" href="/#contact">Contact</a>
        </li>
        <li
          data-aos="fade-down"
          data-aos-duration="800"
          data-aos-delay="300"
          id="designLink"
          class="nav-item resume-button"
        >
          <a class="link-hover mobile" href="images/resume.pdf" target="_blank"
            >Resume</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>