<%- include('partials/head.ejs', {page: "Design"}) %> 
    <div class="main-wrap">
        <!-- site header -->
        <%- include('partials/header.ejs') %> 
    <!-- end site header -->

        <!-- main content -->
        <div id="content" class="content">
            <article class="project-grid project-grid-design">
                <div class="design-wrapper">
                    <h1 class="projects-title design-title">Design</h1>
                    <div class="design-row-wrapper">
                        <div class="column">
                            <img src="images/design/architecture/05.jpg">
                            <img src="images/design/architecture/06.jpg">
                            <img src="images/design/architecture/07.jpg">
                            <img src="images/design/architecture/08.jpg">
                        </div>

                        <div class="column">
                            <img src="images/design/design/03.jpg">
                            <img src="images/design/design/04.jpg">
                            <img src="images/design/design/01.jpg">
                            <img src="images/design/architecture/12.jpg">                            
                            <img src="images/design/architecture/11.png">
                            
                        </div>

                        <div class="column">
                            <img src="images/design/illustration/26.gif">
                            <img src="images/design/illustration/02.jpg">
                            <img src="images/design/illustration/01.png">
                            <img src="images/design/illustration/05.jpg">
                        </div>
                    </div>

                    
                    <!-- <div class="column">
                    </div>
                    <div class="column">
                        <img src="images/design/illustration/01.png">
                        <img src="images/design/illustration/02.jpg">
                        <img src="images/design/illustration/03.png">
                        <img src="images/design/illustration/05.png">
                    </div>
                    <div class="column">
                        <img src="images/design/temperos-do-bem/01.png">
                        <img src="images/design/temperos-do-bem/02.jpg">
                        <img src="images/design/temperos-do-bem/03.jpg">
                        <img src="images/design/temperos-do-bem/04.jpg">
                    </div> -->
                </div>
                
            </article>
        </div>
        <!-- end main content -->
        
        <!-- footer -->
        <%- include('partials/footer.ejs') %> 
    </div>
<%- include("partials/foot.ejs") %> 