<%- include('partials/head.ejs', {page: "Zena Awada | Front-End Web Developer"}) %> 
    <div id="mainWrap" class="main-wrap">
      <!-- site header -->
      <%- include('partials/header.ejs') %> 
      <!-- end site header -->

      <!-- main content -->
      <div id="content">
        <article class="project-grid">
          <!-- About Intro Section -->
          <section id="aboutIntro" class="about-intro">
            <div
              data-aos="fade-up"
              data-aos-easing="ease-out-cubic"
              data-aos-delay="100"
              data-aos-once="true"
              >
              <h1>Zena Awada.</h1>
            </div>
            <div
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-delay="200"
            data-aos-once="true"
            >
              <h2>Web Developer passionate about creating accessible and intuitive websites.</h2>
            </div>
            <div
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-delay="300"
            data-aos-once="true"
            >
              <p class="about-intro-p">As a web developer, I specialize in crafting exceptional digital experiences with a touch of design expertise. Currently, I am dedicated to developing accessible and user-centric products as I actively seek new opportunities in the field.</p>
            </div>
            <div class="intro-button"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-delay="400"
            data-aos-once="true"
            >
              <a href="#webprojects" class="hero-btn">Check out my projects</a>
            </div>
          </section>

          <!-- About Section -->
          <section id="about" class="about-container">
            <div data-aos-once="true" data-aos="fade-up" class="about-me-title-section">
              <h1 class="about-me-title">about me</h1>
            </div>
            <div class="about-me-wrapper">
              <div
              data-aos-easing="ease-out-cubic"
              data-aos-once="true"
                class="about-text"
              >
                <p>
                  Having a <a href="/design" class="text-link__style"><b>graphic design</b></a> background and as someone who is always seeking personal and professional growth, I am continuously on the lookout for new learning opportunities. I prefer not to remain complacent or too comfortable in my current position and instead, I look forward to a future filled with chances to develop and expand my skills.
                </p>
                <p>
                  My primary interest lies in constructing web applications that are both secure and efficient. I have a comprehensive understanding of <b>front-end development</b></a> tools, including jQuery, Vue.js, and React, as well as <b>back-end development tools</b>, such as Node.js, MySQL, MongoDB, and AWS.
                </p>
                <hr class="about-hr" />
                <ul class="about-list">
                  <li><a href="mailto:zenaawada@outlook.com" class="text-link__style nav-text">Email</a></li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/zenaawada/"
                      target="_blank"
                      class="text-link__style nav-text"
                      >Linkedin</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/zenabawada"
                    target="_blank"
                    class="text-link__style nav-text"
                      >GitHub</a
                    >
                  </li>
                </ul>
              </div>
              <div class="about-graphics-wrapper">

              
                <div
                  class="about-graphics"
                >
                  <!-- <div id="aboutPic" class="about-picture"
                  data-aos="fade-up"
                  data-aos-easing="ease-out-cubic"
                  data-aos-delay="300"
                  data-aos-once="true"></div> -->

                </div>
                <img
                data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-delay="400"
                data-aos-once="true"
                  class="background-lineart"
                  src="images/aboutpic-lineart-02.png"
                  alt="Background lineart"
                />
                <div class="about-border-container"></div>
              </div>
            </div>


          </section>

          <!-- Skills Section -->
          <section id="skillset" class="skills-container">
            <h1 data-aos-once="true" data-aos="fade-up" class="projects-title">my skillset</h1>
            <ul
              id="skills"
              data-aos="fade-up"
              data-aos-duration="5000"
              data-aos-once="true"
              class="skills-list"
            >
              <li><i class="fa-brands fa-html5"></i>Html5</li>
              <li><i class="fa-brands fa-css3-alt"></i>Css3</li>
              <li><i class="fa-brands fa-sass"></i>Scss</li>
              <li><i class="fa-brands fa-bootstrap"></i>Bootstrap</li>
              <li><i class="fa-brands fa-js-square"></i>JavaScript</li>
              <li>
                <img
                  class="jQuery"
                  src="images/jquery-logo.png"
                  alt="jQuery Logo"
                />jQuery
              </li>
              <li><i class="fa-brands fa-php"></i>PHP</li>
              <li><i class="fa-brands fa-vuejs"></i>Vue.js</li>
              <li><i class="fa-brands fa-react"></i>React</li>
              <li>
                <img
                  class="GraphQL"
                  src="images/graphql-logo.png"
                  alt="GraphQL Logo"
                />GraphQL
              </li>
              <li>
                <img
                  class="MySQL"
                  src="images/mysql-logo.png"
                  alt="MySQL Logo"
                />MySQL
              </li>
              <li><i class="fa-brands fa-node-js"></i>Node.js</li>
              <li><i class="fa-brands fa-aws"></i>AWS</li>
              <li><i class="fa-brands fa-wordpress-simple"></i>WordPress</li>
              <li><i class="fa-brands fa-github"></i>GitHub</li>
              <li><i class="fa-solid fa-universal-access"></i>Accessibility</li>
              <li>
                <i class="fa-solid fa-mobile-screen"></i>Responsive Design
              </li>

            </ul>
          </section>

          <!-- Work Experience Section -->
          <section id="workExperience" class="work-experience">
            <div class="experience-title-container">
              <h1 data-aos-once="true" data-aos="fade-up" class="projects-title">experience</h1>
            </div>
            <div class="experience-content-container">
              <ul>
                <li class="work-experience-list">
                  <div class="work-date">2018 — 2021</div>
                  <div class="work-timeline"></div>
                  <div class="work-content">
                    <div class="work-content-container">
                      <h3>Illustrator & Graphic Designer</h3>
                      <span>Freelance</span>
                      <p>Proficient in Adobe Creative Suite, I assessed project scopes for graphic design and illustration, delivering high-quality visual solutions with accurate cost estimates and timelines. Creative brainstorming generated diverse graphic ideas, adapting to client needs, while crafting high-quality illustrations with versatility and meeting deadlines efficiently.</p>
                      <ul>
                        <li>
                          Photoshop
                        </li>
                        <li>
                          InDesign
                        </li>
                        <li>
                          Illustrator
                        </li>
                        <li>
                          Figma
                        </li>
                      </ul>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </div>
          </section>

          <!-- Web Projects Section-->
          <section id="webprojects" class="projects-container">
            <div data-aos-once="true" data-aos="fade-up" id="web-projects" class="projects-header">
              <!-- <h2>Featured projects</h2> -->
              <h1 class="projects-title">featured projects</h1>
            </div>
            <ul class="projects-list">
              <li
                data-aos="fade-up"
                data-aos-duration="6000"
                data-aos-once="true"
                class="project"
              >
                <div class="thumbnail-info">
                  <a
                    href="https://vesho.zenawada.ca"
                    target="_blank"
                  >
                    <div class="thumbnail project03"></div>
                  </a>
                  <div class="stack-info">
                    <ul>
                      <li><i class="fa-brands fa-react"></i>React</li>
                      <li>
                        <img
                          class="jQuery jQuery__small"
                          src="images/jquery-logo.png"
                          alt="jQuery Logo"
                        />jQuery
                      </li>
                      <li>
                        <i class="fa-brands fa-html5 stack-icon"></i>HTML5
                      </li>
                      <li><i class="fa-brands fa-css3-alt"></i>CSS3</li>
                      <li><i class="fa-brands fa-js-square"></i>JavaScript</li>
                    </ul>
                  </div>
                </div>
                <div class="project-info">
                  <h2 class="project-title">
                    <a
                      href="https://vesho.zenawada.ca"
                      target="_blank"
                      >React Ecommerce App</a
                    >
                  </h2>
                  <p class="caption">
                    VeSHO is an ecommerce application developed with <b>React</b> as the front-end framework, supplemented with <b>jQuery</b> for enhanced DOM manipulation capabilities. This enables users to access the products page, manage their cart items, and perform various other actions. The application utilizes different React <b>hooks</b> to facilitate functionalities such as tracking product quantities and executing post-DOM update operations.
                  </p>
                

                  
                  <ul class="links">
                    <li>
                      <a
                        href="https://github.com/zenabawada/zenabawada.github.io/tree/main/Ecommerce%20App"
                        target="_blank"
                        ><i class="fa-brands fa-github fa-lg"></i></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://vesho.zenawada.ca"
                        target="_blank"
                        ><i class="fa-solid fa-arrow-up-right-from-square "></i></a
                      >
                    </li>
                  </ul>
                </div>
              </li>   

              <li
              data-aos="fade-up"
              data-aos-duration="6000"
              data-aos-once="true"
              class="project"
            >
              <div class="thumbnail-info">
                
                <a
                  href="http://a2-myblog-env.eba-2upkmxqh.ca-central-1.elasticbeanstalk.com"
                  target="_blank"
                >
                  <div class="thumbnail project01"></div>
                </a>
                <div class="stack-info">
                  <ul>
                    <!-- <li>
                      <i class="fa-brands fa-html5 stack-icon"></i>HTML5
                    </li>
                    <li><i class="fa-brands fa-css3-alt"></i>CSS3</li>
                    <li><i class="fa-brands fa-js-square"></i>JavaScript</li> -->
                    <li><i class="fa-brands fa-node-js"></i>Node.js</li>
                    <li><i class="fa-brands fa-bootstrap"></i>Bootstrap</li>
                    <!-- <li><i class="fa-brands ejs"></i>EJS</li> -->
                    <li><div class="mongoDB"></div>MongoDB</li>
                    <li><div class="socketIO"></div>Socket.IO</li>

                    <!-- <li><img src="../images/mongoDB.png" class="mongodb"/>MongoDB</li> -->
                    <li><i class="fa-brands fa-aws"></i>AWS</li>
                  </ul>
                </div>
              </div>
              <div class="project-info">
                <h2 class="project-title">
                  <a
                    href="http://a2-myblog-env.eba-2upkmxqh.ca-central-1.elasticbeanstalk.com"
                    target="_blank"
                    >CRUD Web App Blog</a
                  >
                </h2>                
                <p class="caption">A web application built with <b>Node.js</b>, styled using <b>Bootstrap</b>, and powered by <b>MongoDB</b> for database management. The application incorporates real-time features through <b>Socket.IO</b> for interactive user experiences.<br><br>Users can perform CRUD operations on a series of blog articles, with user authentication required for adding new content. Unregistered users are limited to viewing articles. <b>Cookies</b> are utilized to store user session data in the browser, and the application is hosted and deployed on <b>AWS Elastic Beanstalk</b>.</p>
                <ul class="links">                  
                  <li>
                    <a
                      href="https://github.com/zenabawada/zenabawada.github.io/tree/main/CRUD%20Web%20App"
                      target="_blank"
                      ><i class="fa-brands fa-github fa-lg"></i></a
                    >
                  </li>
                  <li>
                    <a
                      href="http://a2-myblog-env.eba-2upkmxqh.ca-central-1.elasticbeanstalk.com"
                      target="_blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i></a
                    >
                  </li>
                </ul>
              </div>
              </li>

              <li
              data-aos="fade-up"
              data-aos-duration="6000"
              data-aos-once="true"
              class="project"
            >
              <div class="thumbnail-info">
                
                <a
                  href="https://languagefinder.zenawada.ca"
                  target="_blank"
                >
                  <div class="thumbnail project04"></div>
                </a>
                <div class="stack-info">
                  <ul>
                    <li>
                      <i class="fa-brands fa-html5 stack-icon"></i>HTML5
                    </li>
                    <li><i class="fa-brands fa-css3-alt"></i>CSS3</li>
                    <li><i class="fa-brands fa-js-square"></i>JavaScript</li>
                    <li><i class="fa-brands fa-node-js"></i>Node.js</li>
                    <!-- <li><i class="fa-brands fa-bootstrap"></i>Bootstrap</li>
                    <li><i class="fa-brands ejs"></i>EJS</li>
                    <li><div class="mongoDB"></div>MongoDB</li>
                    <li><div class="socketIO"></div>Socket.IO</li>

                    <!-- <li><img src="../images/mongoDB.png" class="mongodb"/>MongoDB</li>
                    <li><i class="fa-brands fa-aws"></i>AWS</li> -->
                  </ul>
                </div>
              </div>
              <div class="project-info">
                <h2 class="project-title">
                  <a
                    href="https://languagefinder.zenawada.ca"
                    target="_blank"
                    >Language Finder</a
                  >
                </h2>
                <p class="caption">A web application that utilizes <b>OpenAI API</b> and Node.js, bridging the gap between <b>artificial intelligence</b> and user-friendly interfaces. By fetching data from the API and seamlessly integrating it into the front-end, I have created a user experience that showcases <b>AI-generated responses</b> in real time.<br><br> This app demonstrates how AI-powered technologies can offer users helpful, fitting, and well-suited information. This creates fresh opportunities for engaging and <b>customized experiences</b> in the online world.</p>

                <ul class="links">                  
                  <li>
                    <a
                      href="https://github.com/zenabawada/zenabawada.github.io/tree/main/Zenawada/Language-Finder__NodeJS"
                      target="_blank"
                      ><i class="fa-brands fa-github fa-lg"></i></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://languagefinder.zenawada.ca"
                      target="_blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i></a
                    >
                  </li>
                </ul>
              </div>
              </li>             

              <li
                data-aos="fade-up"
                data-aos-duration="6000"
                data-aos-once="true"
                class="project"
              >
                <div class="thumbnail-info">
                  <a
                    href="https://poverty-rate-map.netlify.app"
                    target="_blank"
                  >
                    <div class="thumbnail project02"></div>
                  </a>
                  <div class="stack-info">
                    <ul>
                      <li><i class="fa-brands fa-vuejs"></i>Vue.js</li>
                      <li><div class="netlify"></div>Netlify</li>
                      <li><i class="fa-brands fa-html5"></i>HTML5</li>
                      <li><i class="fa-brands fa-css3-alt"></i>CSS3</li>
                      <li><i class="fa-brands fa-js-square"></i>JavaScript</li>
                    </ul>
                  </div>
                </div>
                <div class="project-info">
                  <h2 class="project-title">
                    <a
                      href="https://poverty-rate-map.netlify.app"
                      target="_blank"
                      >Worldwide Poverty Rate Interactive Map</a
                    >

                  </h2>
                  <p class="caption">An interactive worldwide map showcasing Poverty Rate data, developed with <b>Vue.js</b> for the JavaScript front-end framework. The application utilizes WHO's API to fetch data and leverages AnyChart API, along with its add-ons, for map rendering. <b>Netlify</b> serves as the application deployment provider.</p>
                  <ul class="links">
                    <li>
                      <a
                        href="https://github.com/zenabawada/zenabawada.github.io/tree/main/Worldwide%20Poverty%20Rate%20Interactive%20Map"
                        target="_blank"
                        ><i class="fa-brands fa-github fa-lg"></i></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://poverty-rate-map.netlify.app"
                        target="_blank"
                        ><i class="fa-solid fa-arrow-up-right-from-square"></i></a
                      >
                    </li>
                  </ul>
                </div>
              </li>                         
            </ul>
          </section>

          <!-- Contact Section -->
          <section data-aos="fade-up"
          data-aos-once="true" id="contact" class="contact-me">
            <i class="fa-solid fa-paper-plane paper-plane"></i>
            <h2>Get In Touch</h2>
            <p>Got ideas or just want to chat? I'm open to new opportunities—shoot me an email or fill out the form anytime!</p>
            <a href="mailto:contact@zenawada.ca">contact@zenawada.ca</a>
            <form action="/send-email" method="POST" id="sendEmailForm">
              <input type="text" name="name" placeholder="Name" required>
              <input type="email" name="email" placeholder="Email" required>
              <textarea name="message" placeholder="Message" rows="8" required></textarea>
              <input type="submit" value="Send">
            </form>
            <div id="formLoader" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <div id="formMessage"></div>
          </section>
        </article>
      </div>
      <!-- end main content -->

      <!-- <button class="scroll-top-button"> -->
        <img class="scroll-top-button" src="../images/chevron-up.png">
        <!-- <i class="fa-solid fa-chevron-up"></i> -->
      <!-- </button> -->

      <!-- footer -->
      <%- include('partials/footer.ejs') %> 
    </div>
    <!-- Animation by Michał Sajnóg https://michalsnik.github.io/aos/ -->
    <%- include("partials/foot.ejs") %> 