<h2>My Recipes</h2>
<ul class="recipes">
  <li *ngFor="let recipe of recipes">
    <button
      [class.selected]="recipe === selectedRecipe"
      type="button"
      (click)="onSelect(recipe)"
    >
      <span class="badge">{{ recipe.id }}</span>
      <span class="name">{{ recipe.name }}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedRecipe">
  <h2>{{ selectedRecipe.name | uppercase }} Details</h2>
  <div>id: {{ selectedRecipe.id }}</div>
  <div>
    <label for="recipe-name">Recipe name: </label>
    <input
      id="recipe-name"
      [(ngModel)]="selectedRecipe.name"
      placeholder="name"
    />
  </div>
</div>
